@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&family=Overlock:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #837E7E;
    --background-color:  #d8cfc6;
    --first-color: #27636e;
    --second-color: #985B46;
}

body {
    font-family: "Overlock";
    background: #d8cfc6;
    font-size: 1.3rem;
}

h2 {
    font-size: 2.2rem;
    padding: 1rem 0;
    text-align: center;
}

h3 {
    font-size: 1.6rem;
}

p {
    padding: 0.6rem 0;
}

/* --------------------HEADER---------------------- */

.bgshape {
    background: linear-gradient(170deg, rgba(39, 99, 110, 0.95) 49%, rgba(255, 255, 255, 0) 50% );
    width: 100vw;
}

.header-photo {
    width: 90vw;
    position: relative;
}

.header-picture {
    width: 100%;   
}

.header.card {
    width: 100%;
    padding: 5%;   
}

.header-photo h1 {
    font-family: "Gluten";
    font-size: 3.5rem;
    color: white;
    position: absolute;
    bottom: 1rem;
    left: 1rem;
}

/* --------------ikons----------------- */

.header-icons,
.footer-icons {
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    gap: 1rem;
}

.header-icons img,
.footer-icons img {
    height: 3rem;
}

.footer-icons {
    justify-content: center;
    padding-bottom: 1.5rem;
}

/* --------------------GALlERY--------------------- */
.main-container {
    width: 90%;
    margin: 0 auto;
}

/* .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 35%));
    gap: 50px;
} */

.project {
    background-color: var(--second-color);
    height: auto;
    padding: 0.8rem;
    margin: 1rem 0;
}

.galery-image {
    width: 100%;
}

.project-title {
    display:flex;
    padding: 0.6em 0;
}

.project-title img {
    height: 1.1em;
    padding: 0 0.6em;
    margin: auto;
}

.project-title a {
    display: flex;
}

.project-title h3 {
    flex: 1 1 auto;
}

/* ----------------------------------FOOTER-------------------------------------- */

.footer-card {
    width: 100%;
    margin: 0 auto;
    padding: 2.3rem 0;
}

.footer-card {
    width: 100%;
}

.footer-content {
    margin: 0 auto;
    width: 90%;
    
}

.footer-container {
    background-color: var(--first-color);
} 

/* ---------------------MEDIA------------------ */

@media (min-width:550px) {

    /* --------------------HEADER---------------------- */
    .header-photo {
        max-width: 45%;
        float: right;
        padding-left: 0.6rem;
    }

    .header-text {
        margin: 20% 10% 0 0;
        background-color: var(--main-color);
        padding: 1.4rem;
    }

    .header-photo h1 {
        font-size: 5vw;
        position: absolute;
        bottom: 62%;
        left: -115%
    }

    /* --------------------GALlERY--------------------- */
    
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(240px, 49%));
        justify-content: space-between;
    }

    /* ----------------------------------FOOTER-------------------------------------- */

    .footer-card {
        display: flex;
        margin: auto;
        max-width: 90%;
    }

    .footer-photo {
        display: flex;
        margin: auto;
    }

    .footer-card img {
        max-width: 100%;
    }
}