@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@500&family=Overlock:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --main-color: #837E7E;
    --background-color:  #d8cfc6;
    --first-color: #27636e;
    --second-color: #985B46;
}

body {
    font-family: "Overlock";
    background: #d8cfc6;
    color: white;
    font-size: 1.2rem;
}

/* --------------------GALlERY--------------------- */
.main-container {
    width: 80%;
    margin: 0 auto;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 35%));
    gap: 50px;
}

.project {
    background-color: var(--second-color);
    height: 300px;
    padding: 10px;
}

.project-title {
    display:flex;
    align-items: center;
    justify-content: stretch;
    padding: 10px 0;
}

.project-title img {
    height: 1.1em;
    padding: 0 10px;
    
}
.project-title h3 {
    flex: 1 1 auto;
}

/* --------------------HEADER---------------------- */
.bgshape {
    background: linear-gradient(170deg, rgba(39, 99, 110, 0.95) 49%, rgba(255, 255, 255, 0) 50% );
    width: 100vw;
}

/* .header.container { 
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
} */

/* .header-panel {
    display: flex;
    padding: 20px;
} */

.header-photo {
    max-width: 90vw;
    position: relative;
}

.header-picture {
    max-width: 100%;   
}

.header.card {
    width: 100%;
    padding: 5%;   
}

.title {
    font-family: "Gluten";
    position: absolute;
    bottom: 0.6rem;
    left: 0.5em;
    font-size: 14vw;
    color: white;
    z-index: 2;
}

.header-icons {
    /* position: relative;
    bottom: 30px;
    left: 30px; */
    float: right;
}

/* --------------ikons----------------- */
.footer-icons {
    padding-top: 40px;
}

.header-icons img,
.footer-icons img {
    height: 50px;
}

.footer-icons {
    padding-top: 40px;
}

/* ----------------------------------FOOTER-------------------------------------- */
.footer-card {
    background-color: #837E7E;
    padding: 1em;
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
}

.footer-card .photo {
    float: left;
    width: 65%;
    /* background-image: url(./asets/footer-horizontal2.jpg);
    background-position: center;
    background-size: cover; */
}

footer {

}

.footer-container {
    display: flex;
    align-items:center;
    background: linear-gradient(170deg, rgba(255, 255, 255, 0) 49%, rgba(39, 99, 110, 0.95) 50%);
   padding: 80px 0;
    justify-content: center;
}

/* ---------------------MEDIA------------------ */

/* @media (max-width: 510px) {
    .header.container{
        flex-direction: column;
        padding: 5px;
    }

    .header.photo>img {
        margin: 0;
        padding: 5px;
        width: 100vh;
        float: none;
    }

    .header.card {
        background: none;
    }
}

@media (max-width: 1300px) {
    .header.photo>source{
        /* position: relative;
        margin: -225px -100px 10px 10px;
    }
    .title {
        position: absolute;
        top: -2.7em;
    }
}

@media (max-width: 1710px) {
    .header.photo>source {
        /* position: relative;
        margin: -225px -100px 10px 10px;
    }

    .header.container {
        padding: 220px 0px 120px;
    }

    .title {
        position: absolute;
        top: -2.7em;
    }
} */